<form  action="/mails" method="post"> 
<table>
<th> </th>
<th> </th>
<tr> 
   <td> From: </td>
   <td> <input type="text" name="from"> </td>
</tr>
<td> From Name: </td>
   <td> <input type="text" name="from_name"> </td>
</tr>
<tr>
<td> To: </td>
   <td> <input type="text" name="to"> </td>
</tr>
<tr>
<td> Subject: </td>
   <td> <input type="text" name="subject"> </td>
</tr>

<tr>
<tr>
<td>Message:</td>
<td><textarea cols=30 rows=15 name="message" > </textarea></td>
</tr>
<tr>
<td> </td>
<td> <input type ="submit" value="Send Mail"/></td>
</tr>
<tr>
<td> </td>
<td> <input type ="reset" value="Clear data"/></td>

</tr>
</table>
</form>
